<div class="container">
  <!-- Slide banner đầu -->
  <div class="row">
    <div class="col-12">
      <ngx-slick-carousel class="carousel banner-carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div *ngFor="let item of slides | paginate: { itemsPerPage: 3, currentPage: 0 }" ngxSlickItem>
          <img [src]="item.url" alt="Slide {{ item.id }}" class="img-fluid" />
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <!-- Banner nhỏ -->
  <div class="row mt-4 banner-small">
    <div class="col-lg-3 col-md-3 col-3 mb-4" *ngFor="let i of [1,2,3,4]">
      <img src="assets/banner/banner-nho{{ i % 2 === 0 ? 2 : 1 }}.png" class="img-fluid rounded banner-img" alt="Sản phẩm {{ i }}">
    </div>
  </div>

  <!-- Sản phẩm bán chạy -->
  <div class="top-seller-section mt-5">
    <h1 class="seller-intro-section">SẢN PHẨM BÁN CHẠY NHẤT</h1>
    <ngx-slick-carousel class="carousel top-seller-carousel mb-5" [config]="topSellerSlideConfig">
      <div ngxSlickItem *ngFor="let item of topSellingProducts" class="carousel-item">
        <div class="product-item" (click)="goToProductDetail(item.id)">
          <img [src]="item.url_image" class="img-fluid rounded product-img mb-2" alt="{{ item.name }}">
          <h5 class="text-center product-name">{{ item.name }}</h5>
          <p class="text-center product-price">{{ item.price | number: '1.0-0' }}đ</p>
          <div class="product-rating-simple" *ngIf="item.total_reviews > 0; else noReview">
            <i class="fa-solid fa-star" style="color: gold;"></i>
            {{ item.average_rating.toFixed(1) }} ({{ item.total_reviews }} lượt đánh giá)
          </div>
          <ng-template #noReview>
            <div class="product-rating-simple">
              (0 lượt đánh giá)
            </div>
          </ng-template>
           <div class="product-actions">
            <button class="btn btn-primary me-4" (click)="addToCart(item.id); $event.stopPropagation()" title="Thêm vào giỏ hàng">
              <i class="fas fa-cart-plus"></i>
            </button>
            <button class="btn btn-success me-4" title="Mua ngay" (click)="onBuyNow(item.id); $event.stopPropagation()">
              <i class="fas fa-shopping-basket"></i>
            </button>
            <button class="btn btn-danger" [title]="favoriteProductIds.has(item.id) ?
             'Bỏ yêu thích' : 'Yêu thích'" (click)="addToFavorite(item.id); $event.stopPropagation()">
              <i class="fas fa-heart" [ngClass]="{
                'text-secondary': favoriteProductIds.has(item.id),
                'text-white': !favoriteProductIds.has(item.id)
              }"></i>
            </button>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
  <!-- Slide banner 2 -->
<div class="row">
  <div class="col-12">
    <ngx-slick-carousel class="carousel banner-carousel" #slickModal="slick-carousel" [config]="slideConfig2">
      <div ngxSlickItem *ngFor="let item of slides2">
        <img [src]="item.url" alt="Slide {{ item.id }}" class="img-fluid" />
      </div>
    </ngx-slick-carousel>
  </div>
</div>
  <!-- Sản phẩm nổi bật nhất -->
  <div class="top-seller-section mt-5">
    <h1 class="seller-intro-section">SẢN PHẨM NỔI BẬT NHẤT</h1>
    <ngx-slick-carousel class="carousel top-seller-carousel mb-5" [config]="topSellerSlideConfig">
      <div ngxSlickItem *ngFor="let item of topRatedProducts" class="carousel-item">
        <div class="product-item" (click)="goToProductDetail(item.id)">
          <img [src]="item.url_image" class="img-fluid rounded product-img mb-2" alt="{{ item.name }}">
          <h5 class="text-center product-name">{{ item.name }}</h5>
          <p class="text-center product-price">{{ item.price | number: '1.0-0' }}đ</p>
          <div class="product-rating-simple" *ngIf="item.total_reviews > 0; else noReview">
            <i class="fa-solid fa-star" style="color: gold;"></i>
            {{ item.average_rating.toFixed(1) }} ({{ item.total_reviews }} lượt đánh giá)
          </div>
          <ng-template #noReview>
            <div class="product-rating-simple">
              (0 lượt đánh giá)
            </div>
          </ng-template>
           <div class="product-actions">
            <button class="btn btn-primary me-4" (click)="addToCart(item.id); $event.stopPropagation()" title="Thêm vào giỏ hàng">
              <i class="fas fa-cart-plus"></i>
            </button>
            <button class="btn btn-success me-4" title="Mua ngay" (click)="onBuyNow(item.id); $event.stopPropagation()">
              <i class="fas fa-shopping-basket"></i>
            </button>
            <button class="btn btn-danger" [title]="favoriteProductIds.has(item.id) ?
             'Bỏ yêu thích' : 'Yêu thích'" (click)="addToFavorite(item.id); $event.stopPropagation()">
              <i class="fas fa-heart" [ngClass]="{
                'text-secondary': favoriteProductIds.has(item.id),
                'text-white': !favoriteProductIds.has(item.id)
              }"></i>
            </button>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>
<div class="row mt-4 banner-small">
  <div class="col-lg-3 col-md-3 col-3 mb-4" *ngFor="let img of ['n2.png', 'n3.png', 'n2.png', 'n4.png']; let i = index">
    <img [src]="'assets/banner/' + img"
         class="img-fluid rounded banner-img"
         [alt]="'Sản phẩm ' + (i + 1)">
  </div>
</div>
  <!-- Danh sách sản phẩm -->
  <div class="product-list-section">
    <h1 class="intro-section">DANH SÁCH SẢN PHẨM</h1>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-6 mb-4" *ngFor="let product of products">
        <div class="product-item" (click)="goToProductDetail(product.id)">
          <img [src]="product.url_image" alt="Product Image" class="product-image img-fluid">
          <h3 class="product-name">{{ product.name }}</h3>
          <p class="product-description">{{ product.description }}</p>
          <p class="product-warranty">Bảo hành: 12 tháng</p>
          <p class="product-price">Giá: {{ product.price | number: '1.0-0' }}đ</p>
          <div class="product-rating-simple" *ngIf="product.total_reviews > 0; else noReview">
            <i class="fa-solid fa-star" style="color: gold;"></i>
            {{ product.average_rating.toFixed(1) }} ({{ product.total_reviews }} lượt đánh giá)
          </div>
          <ng-template #noReview>
            <div class="product-rating-simple">
              (0 lượt đánh giá)
            </div>
          </ng-template>
          <div class="product-actions">
            <button class="btn btn-primary me-4" (click)="addToCart(product.id); $event.stopPropagation()" title="Thêm vào giỏ hàng">
              <i class="fas fa-cart-plus"></i>
            </button>
            <button class="btn btn-success me-4" title="Mua ngay" (click)="onBuyNow(product.id); $event.stopPropagation()">
              <i class="fas fa-shopping-basket"></i>
            </button>
            <button class="btn btn-danger" [title]="favoriteProductIds.has(product.id) ? 'Bỏ yêu thích' : 'Yêu thích'" (click)="addToFavorite(product.id); $event.stopPropagation()">
              <i class="fas fa-heart" [ngClass]="{
                'text-secondary': favoriteProductIds.has(product.id),
                'text-white': !favoriteProductIds.has(product.id)
              }"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Phân trang -->
  <div class="pagination-controls">
    <button (click)="onPageChange(1)" [disabled]="isFirstPage()" class="btn-pagination btn-first">⏮</button>
    <button (click)="onPageChange(currentPage - 1)" [disabled]="isFirstPage()" class="btn-pagination btn-prev">⬅</button>
    <div class="page-info">
      <span class="page-number">📃 {{ currentPage }} / {{ totalPages }}</span>
    </div>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="isLastPage()" class="btn-pagination btn-next">➡</button>
    <button (click)="onPageChange(totalPages)" [disabled]="isLastPage()" class="btn-pagination btn-last">⏭</button>
  </div>
</div>
