<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
        <!-- Doanh thu (tháng) -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Doanh thu (tháng)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalRevenueCurrentMonth |
                                number:'1.0-0' }} ₫</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-primary" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Doanh thu (năm) -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Doanh thu (năm)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">
                                {{ totalRevenueCurrentYear | number:'1.0-0' }} ₫
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-success" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Khách hàng -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Khách hàng</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ totalCustomers }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-user fa-2x text-info" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Đơn hàng cần xử lý -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Đơn hàng cần xử lý
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ countPendingOrders }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-shopping-cart fa-2x text-warning" [routerLink]="['/admin/order']" style="cursor: pointer;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Biểu đồ doanh thu -->
    <div class="row mt-4">
        <div class="col-2">
            <h2 style="font-size: 18px;">Thống kê doanh thu theo năm</h2>
            <div class="revenue-filter">
                <label for="yearSelect">Chọn năm:</label>
                <select id="yearSelect" [(ngModel)]="currentYear" (change)="getRevenueByYear(currentYear)">
                    <option *ngFor="let year of availableOrderYears" [value]="year">
                        Năm {{ year }}
                    </option>
                </select>
            </div>

            <div class="revenue-summary">
                Tổng doanh thu {{ currentYear }}:
                <span class="revenue-amount">
                    {{ revenueByYearMap[currentYear] || 0 | number:'1.0-0' }} ₫
                </span>
            </div>
        </div>
        <div class="col-10">
            <div id="divChart" style="width: 95%; margin-left: 2%;">
                <canvas #chartCanvas></canvas>
            </div>
        </div>
    </div>
</div>